


.buttons{
    width: 270px;
}
.button1  {
    background: #999;
    color:#fff;
    margin: 3px;
    padding: 3px;
    border-radius: 10px;
}

.button1:hover {
    background: #aaa;
    cursor: pointer;
}

left-menu {
    display: block;
    position:absolute;
    height: 100%;
    width: 280px;
    height: :250px;
    top: 0;
    height: 100%;
    
   

}

left-menu p {
 background-color: darkgrey;
   padding: 20px;
 margin: 1px;
    color: black;
width: 280px;
    position: absolute;
     top: 0;
height: 100%;
}
left-menu p:hover {
    background-color: dimgrey;
}
