h1 Menu
div.buttons
    div.button1(ng-click = "$ctrl.setItem('newShoppingCard')") Yeni Alışveriş Listesi
    div.button1(ng-class = "{'archiveScreen': $ctrl.uptodateScreen}" ng-click = "$ctrl.setItem('Uptodate')") Mevcut Listeler
    div.button1(ng-class = "{'archiveScreen': $ctrl.archiveScreen}"  ng-click = "$ctrl.setItem('Archive')") Arşiv
    div.button1(ng-class = "{'archiveScreen': $ctrl.recycleBinScreen}"  ng-click = "$ctrl.setItem('Delete')") Çöp Kutusu
    div.button1(ng-class = "{'archiveScreen': $ctrl.userScreen}"  ng-click = "$ctrl.setItem('User')") Kişiler

