h1 Menu
div.buttons
    div.button1(ng-click = "$ctrl.newShoppingCard()") New Shopping List
    div.button1(ng-class = "{'active': $ctrl.screenType == $ctrl.screenTypes.UPTODATE}" ng-click = "$ctrl.setItem($ctrl.screenTypes.UPTODATE)") Current Lists
    div.button1(ng-class = "{'active': $ctrl.screenType == $ctrl.screenTypes.ARCHIVE}"  ng-click = "$ctrl.setItem($ctrl.screenTypes.ARCHIVE)") Archive
    div.button1(ng-class = "{'active': $ctrl.screenType == $ctrl.screenTypes.RECYCLEBIN}"  ng-click = "$ctrl.setItem($ctrl.screenTypes.RECYCLEBIN)") Recycle Bin
    div.button1(ng-class = "{'active': $ctrl.screenType == $ctrl.screenTypes.USER}"  ng-click = "$ctrl.setItem($ctrl.screenTypes.USER)") Users