h1 Menu
div.buttons
    div.button1(ng-click = "$ctrl.setItem('newShoppingCard')") Yeni Alışveriş Listesi
    div.button1(ng-class = "{'archiveScreen': !$ctrl.isArchived}" ng-click = "$ctrl.setItem('Uptodate')") Mevcut Listeler
    div.button1(ng-class = "{'archiveScreen': $ctrl.isArchived}"  ng-click = "$ctrl.setItem('Archive')") Arşiv


