h1 Menu
div.buttons
    div.button1(ng-click = "$ctrl.setItem('newShoppingCard')") Yeni Alışveriş Listesi
    div.button1(ng-class = "{'archiveScreen': $ctrl.screenType == 1}" ng-click = "$ctrl.setItem('Uptodate')") Mevcut Listeler
    div.button1(ng-class = "{'archiveScreen': $ctrl.screenType == 2}"  ng-click = "$ctrl.setItem('Archive')") Arşiv
    div.button1(ng-class = "{'archiveScreen': $ctrl.screenType == 3}"  ng-click = "$ctrl.setItem('Delete')") Recycle Bin
    div.button1(ng-class = "{'archiveScreen': $ctrl.screenType == 4}"  ng-click = "$ctrl.setItem('User')") Kişiler