shopping-card {
    margin:10px;
    display:block;
    height: 300px;
    width: 200px;
    background-color: lightgrey;
    border-radius: 10px;
    box-shadow: 3px 3px 4px dimgrey;
}
header{
    background-color: darkgrey;
    
}
shopping-card h4{
    text-align: center;
    padding: 10px;
}

form{
    position: relative;
    text-align: left;
    margin:5px;
    font-size: 12px;
    min-height: 40px;
    display: block;

}


.checkf input{
    float:left;
    margin-right: 0.4em;
    
}

label{
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 2em;
    line-height: 1.3em;

}

.additem{
    display: inline-table;
    top: 0;
    float: left;
    height: 45px;
}

.additem input[type="text"]{
    z-index: 1;
    width: 140px;
    margin-bottom: 3px;

}
.button{
    display: inline;
    margin: 5px;
    background-color: dimgrey;
    border-radius: 3px;
    padding: 5px;
}

.button:hover { 
    background: #aaa;
    cursor: pointer;
}
.sumlist{
    overflow-y: scroll;
    position: absolute;
    top: 50px;
    left: 0;
    height: 160px;
    width: 190px;
}

.hideItem {
  text-decoration: line-through;
  color: lightslategrey;
}