shopping-card {
    margin:10px;
    display:block;
    height: 300px;
    width: 200px;
    background-color: lightgrey;
    border-radius: 10px;
    box-shadow: 3px 3px 4px dimgrey;
}
header{
    background-color: darkgrey;
}

header .topleft{
    top: 10px;
    height: 35px;
    position: absolute;
    text-align: center;
    padding: 10px;
    width: 170px;
    background-color: dimgrey;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

header .topright {
    height: 35px;
    top:10px;
    left: 170px;
    position: absolute;
    float: right;
    padding: 8px;
    width: 30px;
    background-color: dimgrey;
    border-left: solid lightgrey;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
header .topright:hover {
    background: #aaa;
    cursor: pointer;
}


form{
    top: 45px;
    position: absolute;
    text-align: left;
    margin:5px;
    font-size: 12px;
    min-height: 40px;
    display: block;
}


.checkf input{
    float:left;
    margin-right: 0.4em;
}

label{
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 2em;
    line-height: 1.3em;

}

.additem{
    display: inline-table;
    top: 0;
    float: left;
    height: 60px;
}

.additem input[type="text"]{
    z-index: 1;
    width: 140px;
    margin-bottom: 3px;

}
.button{
    display: inline;
    margin: 5px;
    background-color: dimgrey;
    border-radius: 3px;
    padding: 5px;
}

.button:hover { 
    background: #aaa;
    cursor: pointer;
}
.sumlist{
    overflow-y: scroll;
    position: absolute;
    top: 50px;
    left: 0;
    height: 130px;
    width: 190px;
}

.hideItem {
  text-decoration: line-through;
  color: lightslategrey;
}
.userinfo{
    background-color: grey;
    display:block;
    position: absolute;
    top: 190px;
    height: 30px;
    width: 140px;
    padding: 5px;
    padding-top: 7px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.archivebutton{
    background-color: dimgrey;
    display:block;
    position: absolute;
    top: 190px;
    height: 30px;
    width: 50px;
    padding: 5px;
    padding-top: 7px;
    left:140px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.archivebutton:hover{
    background: #aaa;
    cursor: pointer;
}

form .hideWithCheckbox{
    display:block;
    position: absolute;
    top: 225px;
    left:6px;
}
.checkf label{
    width: 150px;
    margin: 3px;
    border-bottom:1px solid dimgrey; 
}
.checkf span{
    padding: 2px;
}
.checkf span:hover{
    cursor:pointer;
    background: #aaa;
}