header
   div.topleft {{ $ctrl.card.name }}
   div.topright(ng-click = "$ctrl.deleteCard($ctrl.card.name)") X
body
    form
        div.additem <br/>
            input(type = "text", ng-model = "$ctrl.item1", placeholder = "...")
            a(class = "clearInput" ng-click = "$ctrl.item1=''") x 
            div.button(ng-click = "$ctrl.addItem($ctrl.item1)") Ekle
        div.sumlist
            div.checkf(ng-repeat = "item in $ctrl.card.items" ng-if = "!hide || !item[1]")
                label.checkbox-inline(ng-class = "{'hideItem': item[1]}")
                    input(id = "fr", type = 'checkbox', name = 'gokhan' ng-model = "item[1]" ng-checked = "item[1]")
                    | {{item[0]}}
                span(ng-click = "$ctrl.removeItem($index)") x
        div.hideArchive(ng-if = "!$ctrl.card.isArchived")
            div.userinfo Kullanıcı:
            div.userpic
                img(src = "{{$ctrl.owner.picture.large}}")
            div.archivebutton(ng-click = "$ctrl.archivedCard($ctrl.card.name)") Arşivle
        div.hideArchive(ng-if = "$ctrl.card.isArchived")
            div.userinfo Kullanıcı:
            div.userpic
                img(src = "{{$ctrl.owner.picture.large}}")
            div.archivebutton(ng-click = "$ctrl.sentBackCard($ctrl.card.name)") Geri Al
        div.hideWithCheckbox
            label.checkbox-inline
                input(id = "fr2", type = 'checkbox', name = 'itemhide' ng-model = "hide")
                | Seçili itemleri gösterme
        

