header
   div.topleft {{ $ctrl.card.name }}
   div.topright(ng-click = "$ctrl.deleteCard($ctrl.card.name)") X
body
    form
        div.additem <br/>
            input(type = "text", ng-model = "$ctrl.item1", placeholder="...")
            a(class = "clearInput" ng-click = "$ctrl.item1=''") x 
            div.button(ng-click = "$ctrl.addItem($ctrl.item1)") Add
        div.sumlist
            div.checkf(ng-repeat = "item in $ctrl.card.items" ng-if = "!hide || !item[1]")
                label.checkbox-inline(ng-class = "{'hideItem': item[1]}")
                    input(id = "fr", type = 'checkbox', name = 'gokhan' ng-model = "item[1]" ng-checked = "item[1]")
                    | {{item[0]}}
                span(ng-click = "$ctrl.removeItem($index)") x
        div.hideArchive(ng-if = "!$ctrl.card.isArchived")
            div.userinfo
            span.userSpan(ng-repeat="u in $ctrl.card.users" ) {{u}}
            div.archivebutton(ng-click = "$ctrl.archivedCard($ctrl.card.name)") To archive
        div.adduser(ng-if = "!$ctrl.card.isArchived") <br/>
            input(type = "text", ng-model = "$ctrl.user", placeholder="...")
            div.buttonUser(ng-click = "$ctrl.addUser($ctrl.user)") Add User
        div.hideArchive(ng-if = "$ctrl.card.isArchived")
            div.userinfo User: {{ $ctrl.owner.username }}
            div.archivebutton(ng-click = "$ctrl.sentBackCard($ctrl.card.name)") Undo
        div.hideWithCheckbox
            label.checkbox-inline
                input(id = "fr2", type = 'checkbox', name = 'itemhide' ng-model = "hide")
                | Don't show selected item
