menu {
    display: flex;
    position: relative;
    height: 90px;
    background: lightgrey;
    color:darkslategrey;
    padding: 10px;
    top: 0px;
    
}

menu h1 {
    font-weight: 100;
    display: inline;
}

img{
    height: 64px;
    margin: 0px 20px 0px 0px;
    
}
input{
    width: 550px;
    margin: 0px 10px 0px 60px;
    padding: 12px;
}
.logoandname{
    height: 70px;
    width: 350px;
    background-color: yellowgreen;
}
menu table, tr, td {
    border:  0px solid black;
}
.search{
    height: 70px;
    width: 300px;

}
.user{
    height: 70px;
    width: 400px;
}

