menu {
    position: relative;
    height: 90px;
    background: lightgrey;
    color:darkslategrey;
    padding: 10px;
    
}

menu h1 {
    font-weight: 100;
    display: inline;
}

img{
    height: 64px;
    margin: 0px 20px 0px 0px;
    
}
input{
    width: 400px;
    margin: 0px 10px 0px 60px;
    padding: 12px;
}

