table
    tr 
        td 
            img(src="/static/logo.png")
        td 
            h1 Market Place
        td
            input(type="text", name="search", placeholder="Lüften aramak istediğiniz kelimeyi yazınız...")
        td
            img(src="/static/search.png")
        td
            p Hoşgeldin User
            p Profilim, Çıkış
        td
            img(src="/static/user.png")

