div(class='myProfile')
    div
        p.header 
            span.title UserName:
            input.value(type = "text", ng-model = "$ctrl.owner.username", placeholder="User Name")
    div
        p.header 
            span.title  Name: 
            input.value(type = "text", ng-model = "$ctrl.owner.name.title", placeholder="Title")
            input.value(type = "text", ng-model = "$ctrl.owner.name.first", placeholder="Name")
    div
        p.header 
            span.title  LastName:
            input.value(type = "text", ng-model = "$ctrl.owner.name.last", placeholder="Last Name")
    div
        p.header 
            span.title  Image 
             img(src="{{$ctrl.owner.picture.large}}")
    div
        p.header 
            span.title  Password
            input.value(type = "text", ng-model = "$ctrl.owner.password", placeholder="Password")
    div
        p.header 
            span.title  Gender 
            input.value(type = "text", ng-model = "$ctrl.owner.gender", placeholder="Gender")
    div
        p.header 
            span.title  Phone 
            input.value(type = "text", ng-model = "$ctrl.owner.phone", placeholder="Phone")
    div
        p.header 
            span.title  E-Mail 
            input.value(type = "text", ng-model = "$ctrl.owner.email", placeholder="E-Mail")
    div.address Address
        div
            p.header 
                span.title  City 
                input.value(type = "text", ng-model = "$ctrl.owner.location.city", placeholder="City")
        div
            p.header 
                span.title  Street 
                input.value(type = "text", ng-model = "$ctrl.owner.location.street", placeholder="Street")
        div
            p.header 
                span.title  State 
                input.value(type = "text", ng-model = "$ctrl.owner.location.state", placeholder="State")
        div
            p.header 
                span.title  Zip 
                input.value(type = "text", ng-model = "$ctrl.owner.location.zip", placeholder="Zip")
                