mother-pane {
    position: absolute;
    top: 90px;
    background: lightgray;
    width: 200px;
    bottom: 0;
}

mother-pane chat-pane {
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    width: calc(100% - 280px);
    left: 280px;
    border-left: 1px solid #ccc;
}
mother-pane p {
    background-color: darkgrey;
    padding: 10px;
    margin: 1px;
}
mother-pane p:hover{
    background-color: dimgrey;
}
