div(class='chat-pane')
    p Yeni alışveriş listesi
    p Arşiv
    p Çöp Kutusu
    p Kişiler
//thread-list(thread-click="$ctrl.setActiveThread(thread)")
//chat-pane(thread="$ctrl.getActiveThread()", user="$ctrl.getActiveThread().user")
