chat-box {
    
    margin: 0 5px;
}

.shoppingCard{
    
    display:block;
    height: 300px;
    width: 200px;
    background-color: lightgrey;
    border-radius: 10px;
}
.shoppingCard h6{
    margin: 7px 50px;
}
