div(class='shoppingCard')
    header
        h6 Alışveriş listesi

div(class='shoppingCard')
    header
        h6 Alışveriş listesi
        
div(class='shoppingCard')
    header
        h6 Alışveriş listesi